<div class="new_file--cont hidden">
  <img src="/images/close.png" alt="close form" class="close--form">
  <form action=<%="/folder/" + folder.id + "/" + folder.name%> method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>
</div>