<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <title>File Uploader</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/folder.css" />
  <script src="/scripts/folderScripts.js" defer></script>
</head>

<body>
  <%- include("partials/header") %>
  <h1><%= folder.name%></h1>
  <%- include("partials/addFile") %>
  <button class="upload_file--btn"><img src="/images/file.png" alt="upload file"></button>
  <%- include("partials/footer") %>
</body>

</html>