<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <title>File Uploader</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/regLog.css" />
</head>

<body>
  <%- include("partials/header") %>

  <form id="form--login" action="/login" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    <button>Log in</button>
    <span>Don't have an account? <a href="/sign-up">Register here</a></span>
  </form>

  <%- include("partials/footer") %>
</body>

</html>