h1 {
  font-size: 1.6rem;
  margin: 30px 0 60px 0;
}

.upload_file--btn {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.2s all ease;
  margin: 30px 0;
}

.upload_file--btn img {
  width: 100%;
}

.upload_file--btn:hover {
  transform: scale(1.1);
}

.upload_file--btn:active {
  transform: scale(0.9);
}

.new_file--cont {
  background-color: rgba(254, 165, 17, 0.2);
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
}

.new_file--cont form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new_file--cont form input {
  width: 200px;
}

.new_file--cont form button {
  margin-top: 20px;
  padding: 0.5rem;
  background-color: var(--light-blue);
  border: 1px solid var(--yellow);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.new_file--cont form button:hover {
  background-color: var(--yellow);
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
  transform: scale(1.1);
}

.close--form {
  position: absolute;
  width: 25px;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.2s all ease;
}

.close--form:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.file {
  width: 90px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease, 0s border;
  cursor: pointer;
  padding: 5px;
}

.file img {
  width: 90%;
}

.file h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  unicode-bidi: plaintext;
  text-align: center;
  width: 90%;
}

.file:hover {
  transform: scale(1.1);
  box-shadow: rgba(252, 163, 17, 0.2) 0px 7px 29px 0px;
  border: 1px solid var(--yellow);
}

.file:active {
  transform: scale(1);
  box-shadow: rgba(252, 163, 17, 0.2) 0px 7px 20px 0px;
  border: 1px solid var(--yellow);
}

.user--files-cont {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  position: relative;
}
